<section class="container animate__animated animate__fadeIn mb-3">
  <div class="row">
    <div class="col">
      <h2 class="mb-0">Maestria en Educacion</h2>
    </div>
  </div>
  <br />
  <div class="text-center animate__animated animate__fadeIn">
    <div class="spinner-border" style="width: 7rem; height: 7rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        src="assets/images/program-0.png"
        alt=""
        class="img-fluid"
        srcset=""
      />
    </div>
  </div>
  <div class="row d-flex justify-content-between mt-4">
    <div class="col-12 col-sm-7">
      <div class="row d-block-sm d-flex-md">
        <div class="dropdown show col-12 col-md-5 col-lg-4 mb-2">
          <a
            class="btn btn-default border-dark dropdown-toggle w-100 text-sm-left"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Presentacion
          </a>

          <!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      </div> -->
        </div>
        <div class="dropdown show col-12 col-md-4 mb-2">
          <a
            class="btn btn-default border-dark dropdown-toggle w-100 text-sm-left"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Programa
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item">Objetivos Especifícos</a>
            <a class="dropdown-item">Plan de Estudios</a>
            <a class="dropdown-item">Descripción de módulos</a>
            <a class="dropdown-item">Titulación</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 text-right">
      <button type="button" class="btn btn-danger">Inscribirme Ahora</button>
    </div>
  </div>

  <hr />
  <div class="row d-flex mt-2">
    <div class="col text-justify">
      <h4 class="mb-0">Presentación del Programa</h4>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quos
        delectus ex sapiente. Tenetur dolore nesciunt doloribus error nobis,
        maiores aut exercitationem iste consectetur debitis, ipsum odit, odio
        animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus error
        nobis, maiores aut exercitationem iste consectetur debitis, ipsum odit,
        odio animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus
        error nobis, maiores aut exercitationem iste consectetur debitis, ipsum
        odit, odio animi corrupti.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quos
        delectus ex sapiente. Tenetur dolore nesciunt doloribus error nobis,
        maiores aut exercitationem iste consectetur debitis, ipsum odit, odio
        animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus error
        nobis, maiores aut exercitationem iste consectetur debitis, ipsum odit,
        odio animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus
        error nobis, maiores aut exercitationem iste consectetur debitis, ipsum
        odit, odio animi corrupti.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quos
        delectus ex sapiente. Tenetur dolore nesciunt doloribus error nobis,
        maiores aut exercitationem iste consectetur debitis, ipsum odit, odio
        animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus error
        nobis, maiores aut exercitationem iste consectetur debitis, ipsum odit,
        odio animi corrupti.Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sequi quos delectus ex sapiente. Tenetur dolore nesciunt doloribus
        error nobis, maiores aut exercitationem iste consectetur debitis, ipsum
        odit, odio animi corrupti.
      </p>
      <h4 class="mb-0">A Quien va dirigido</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
        voluptatem tenetur aliquid, magnam eius dolore repellat quasi a
        voluptate aspernatur ad quo odio cum similique nesciunt ipsam labore,
        beatae sed.
      </p>
      <h4 class="mb-0">Titulación</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        consequuntur omnis minus qui amet perspiciatis explicabo consequatur
        eveniet quos neque asperiores excepturi magni deserunt minima eligendi,
        consectetur quibusdam animi officiis?
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered table-sm">
        <thead class="bg-danger">
          <tr class="text-white text-center">
            <th>#</th>
            <th>Asignaturas</th>
            <th>Créditos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              placeat fuga iure libero non fugiat,
            </td>
            <td>
              <p>john@example.com</p>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit
              ducimus accusamus dolore dolorem rerum corporis ex
            </td>
            <td>
              <p>mary@example.com</p>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
              quia voluptate nostrum neque molestias. Earum,
            </td>
            <td>
              <p>july@example.com</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h4>Titulacion</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, tempore,
        quae unde fuga fugiat dignissimos sit non repellendus incidunt adipisci
        delectus assumenda at, iure sint dicta quod ab ex quasi!
      </p>

      <ul style="list-style: square">
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad unde
          consectetur quam assumenda debitis eveniet itaque tempore, libero
          corporis error odit sapiente asperiores harum iure beatae numquam
          adipisci quia. Minus!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum natus
          placeat architecto magni quae delectus omnis illum reiciendis
          laudantium aliquam error officiis alias minima, modi ex? Repellat quas
          debitis ipsum.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint a
          consectetur ullam obcaecati eos veniam mollitia nulla placeat quisquam
          quod? Officiis dolorem placeat ut recusandae ab maiores quam provident
          laboriosam.
        </li>
      </ul>
    </div>
  </div>

  <div class="row d-flex justify-content-between">
    <div class="col-5 text-left">
      <button type="button" class="btn btn-danger">Inscribirme Ahora</button>
    </div>
    <div class="col-6 text-right">
      <a
        class="btn btn-success"
        [href]="baseWhatsappInfoUrl + 'Mas%información'"
        target="_blank"
      >
        <img
          src="assets/icons/whatsapp-bordered.svg"
          width="27px"
          height="27px"
          alt=""
          srcset=""
        /><span class="">Mas Información</span>
      </a>
    </div>
  </div>
</section>
